env:
  global:
    # BINTRAY_USER
    - secure: "LxONQZ8tHhxTqgu+kqx9fMCubCfTQHZsy/3ibE+l72xG8sOAYfj4hB5k1p4kklnv3skeFQEiL6B++B2qRITOEAPRdD8FExkc+UF/TM1rY5aUtjIjoA3uH4n9hYjHirTO5qNKf4KxDr1Zbcn4ISGebJ0EYwE0SG/ptrd06wPp1G8AHshc8XaZgen6gDaik66OWpQkOkmGsRz2EPmIBVgo7L2LGK21DSxE4/PTo+ou0WYCyxyyWSKLTLt1xZpt9LOtk7IckrHl+Nenl6IbV/CjHb3+5vwdifyFQd+K6AVe32iTIVjdxj7rDhEHYD0EqKb79ey+u8p9HquLnGH03gcVBeFQu/qhhQStsiwrD/S9c8jwBjWOOUnVI4bEbqjqxFaRlPfVnRaAjQZLRKHdqxyTJCdC2Ls79LmkqSCyTxM7WBwwgu4Slf6RJSbKJb5naHYlwDuKPbeyHLAYrxgjEHC28bxQiTr5wwBWxE9BLxUcnkFAXzsy3qE74FQOIjvQbtrruLIOGwRGRYtzyfygGA3MfTHug6JwZGngqFf3k+kbznE8fZe7zxMwT63P6/54rR5fU/plLoTNFqdQsZGAfGOSYuHIEzWXOkWxffqsOwxPa1VxQTLD32O95oBcrcvmw4toC2NeFTe/+zZRMfGMbu7QIi0AL3qFpky3j12zcyA/M2I="
    # BINTRAY_KEY
    - secure: "Iqn4ImAwFmQeoXXDb5JOsfcunSiSeLvdp4+AEsIeniMhpIk++ZJPDSxecC+NrvndTrxOXVqHEsFUfHnZYvPHMuvg9nhXvz/rmmyYH0hZqkKg2q2qM+Sz2UJBCvs6D1sJv3ZEVi8d6fVx5bbKXMzSE023XFBBK7l8nBsG5ObXBOzTzrus9UP+fk4FXif/QKJNcUSN7rLejUIxMCk36gMQYqYGiiqL3VE60aTpaUh7Vqj/8nCEPcO3K3gXTVybcGBcmsvinV5YEc+5s5ue8eX10ONY0oYF5GFd7aEsrKEFzT2d7MVq0a29cH1rWrxt6q7vXGZNKAdAQrDyRZUz9rMFtqH+2xOgagm22UiUYNlzrn2eDYRBd08X0y043gumdgmOq/CsyaI5bcUSKMr+rsZ2XIzBjefl8MU0xBhtKMO9g9WRfGBxjRbdg0ivRQoVGJbcUXTDl2WrLMgMjt8DT4nQP+PHdIV2FjZVNioqucqmEzfHIJt+hiw7EonGDnZ9uqkW6hm6b4JpGr5QF1yY6kKVCUQxLueUBAVdiZpULdevL7uYEUzdWIES2wTFE7LaWpHqnCOHYVpkIQpdole6+R0OhINhSHK0FW858xhZ2QGjtL1SSh5yzK4th6dpGKCiwMUSGSj5frpIeWPi+GqYoUQz+TvMGLGG2XGfihx74kQE0FA="
    - AWS_ACCESS_KEY_ID=AKIAIYAXFUAHXOWP2MJA
    # AWS_SECRET_ACCESS_KEY
    - secure: NElUP03Z1jbkOO20zYOo6WTdXrHa+b1UbMQJJX1rvG8wLHcEEid5m5VUa9UdSrBT4OxeVLKTVqEtEgFshz8Jjcc7JJ4pZBtGq4ty+S+nG6F9DJ+IMS2kD8h5qtoqh1TBLhov19s0mRNCG53No2+8VSk8STAeSG7x2hL2PAgJq3LCCy5lYVbmhnrCXObtd1a7Nq8XV7EHM+R9aITq3+jKa/NpdADoUv/WcoQAqjc8W3GhACRiNxRaGM58OF2WTojLM5fD3wwuicGkcsBkZkxho4cs0u36EEoxhZuy9U2/Emp7uhs9yCrhY0AwqYbSqvZ6jiwtJflvHHAsW2ZTgHWUekKippAyPIqF+QTeBvkg+q7tabOkfQLaZcREDzUBMI5AQiIW0Sv1fTPEs5jJv2+dE4bzi6BJmzFFGE0iHt4Nui7TLYMeAN17RYB5rJK50AGBA42Puzjr8CaV1FfnqLXOwiDXjGwvz7iHk4MMHFT/vvLcgDgHM16SM5QvhfbfX6Aj13VIG9lWUfKsalMSug8+zrXadtnZoz5XPskw1oA2iEUmgNzS33EVedgtxWDykadn3zhA+Ii+4C+Gge1dPG0sNXYiyI0/XKwlHBe6/Ar/DzKAf9Fo7/Z2haYGHC8XXmblagzVTxqX1FZVeiI3kyDBtduMSILU5ir5VA0dNtGdKVY=
# ------------------------
# Jobs configuration
# ------------------------
jobs:
  include:
    - stage: Tests
      name: Dead link check
      if:
        type = pull_request OR type = push AND branch =~ /^master|[0-9]+-(dev|stable)$/
        OR type = cron
      language: node_js
      node_js: 12
      before_script:

        - npm ci
        - npm run doc-prepare
        - $(npm bin)/kuzdoc iterate-repos:install --repos_path doc/framework/.repos/
        - $(npm bin)/kuzdoc framework:link -d /sdk/java/3/ -v 3
      script:
        - gem install typhoeus
        - cd doc/framework/ && HYDRA_MAX_CONCURRENCY=20 ruby .ci/dead-links.rb -p src/sdk/java/3/

    - stage: Tests
      name: Documentation Snippets
      if: type = pull_request OR type = push AND branch =~ /^master|[0-9]+-dev$/ OR type = cron
      language: node_js
      node_js: 12
      script:
        - docker-compose -f .ci/doc/docker-compose.yml run doc-tests index

    - stage: Deployment Doc Dev
      name: Deploy next-docs.kuzzle.io
      if: type = push AND branch =~ /^[0-9]+-dev$/
      language: node_js
      node_js: 12
      env:
        - BRANCH=dev
        - NODE_ENV=production
        - S3_BUCKET=docs-next.kuzzle.io
        - CLOUDFRONT_DISTRIBUTION_ID=E2ZCCEK9GRB49U
        - AWS_DEFAULT_REGION=us-west-2

      addons:
        apt:
          update: true
          packages:
            - python
            - python-pip

      install:
        - pip install awscli --upgrade --user
        - npm ci

      script:
        - npm run doc-prepare
        - npm run doc-build

      deploy:
        provider: script
        script:
          - npm run doc-upload
        skip_cleanup: true
        on:
          all_branches: true

      after_deploy:
        - npm run doc-cloudfront

    - stage: Deployment Doc Prod
      name: Deploy docs.kuzzle.io
      if: type = push AND branch =~ /^master|[0-9]+-stable$/
      language: node_js
      node_js: 12
      env:
        - NODE_ENV=production
        - S3_BUCKET=docs.kuzzle.io
        - CLOUDFRONT_DISTRIBUTION_ID=E3D6RP0POLCJMM
        - AWS_DEFAULT_REGION=us-west-2
      addons:
        apt:
          packages:
            - python
            - python-pip
      install:
        - pip install awscli --upgrade --user
        - npm ci
      script:
        - npm run doc-prepare
        - npm run doc-build
      deploy:
        provider: script
        script:
          - npm run doc-upload
        skip_cleanup: true
        on:
          all_branches: true
      after_deploy:
        - npm run doc-cloudfront

    - stage: Builds
      name: Build SDK Java
      jdk: openjdk8
      sudo: false
      before_cache:
        - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
        - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
      cache:
        directories:
          - "$HOME/.gradle/caches/"
          - "$HOME/.gradle/wrapper/"
      install:
        - cd $TRAVIS_BUILD_DIR/
        - ./gradlew assemble
      script:
        - ./gradlew build

    - stage: Unit tests
      name: Unit tests SDK Java
      language: java
      jdk: openjdk8
      sudo: false
      before_cache:
        - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
        - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
      cache:
        directories:
          - "$HOME/.gradle/caches/"
          - "$HOME/.gradle/wrapper/"
      install:
        - cd $TRAVIS_BUILD_DIR/
      script:
        - ./gradlew test

    - stage: Deployment
      name: Deploy to Bintray
      if: branch = master AND tag IS present AND type != cron
      language: java

      jdk:
        - openjdk8

      script:
        bash gradlew test jacocoTestReport

      notifications:
        email: false

      after_success:
        - bash <(curl -s https://codecov.io/bash)

      deploy:
        provider: script
        script: ./gradlew bintrayUpload
        skip_cleanup: true
        on:
          condition: $TRAVIS_BRANCH = master

stages:
  - name: Unit Tests
    if: type =~ /(cron|push|pull_request)/ AND branch =~ /^master|[0-9]+-(dev|stable)$/
  - name: Builds
    if: type =~ /(cron|push|pull_request)/ AND branch =~ /^master|[0-9]+-(dev|stable)$/

notifications:
  slack:
    rooms:
      - secure: ACjz4TJEYBEzmwVOYrCNnr4+jC0FaX+qh150QacYGIgaQYL+U3xLEQmWNlZ3oxaPPMDAk42m+diHolqNwh6qsOWaPSWRlGfLKhHLSzRI98bhF7HQ+3eLMYmx7y7SKwRzyRjus0jgxp0Kc2mq0nhKqv+7rarQtIgWlC1PLrzZ35CUbUlqYSoeYAlXoyDB1eZgYsvjt+eC5yCvGePsfKbupWC2/hIVl+qZ+9AhVmOfiMv7daFW29Vu300aoY+0IqwX7jHGcmHn/7QCRsx0IBy/SL24TzfSV9SUSnbjK4fTrcrhjYDEZdH1lpvDtvr50GgkrTjy1wPVz8XIyCZ7LZolylkx+nR1MWyvum20QRFub2Qhz/+rS+OFiQZ8H01BPuklLUTSQhBksfpGBck3d2yNLiTqGEVWYTnZ9mkCnMQ3BzJXEF04KLHG7wYn2rk6wjPghVmFQH5GMsxM5v33CFgcNzp6lRJOX9CmjZosck6o9SA0WlazHH/CLWWKk1wrQ1ygDayW5m+N/o58UIxgW2LIUlp4tV1z/bRtO2yTd020yWchlKPVmf1A5OMfigJNMRsQGNZNadS7qA2M394OJw3/Hg+0EVF8gai/V8FRijmkxmhYyCIYMcjaGwx8JxfoMrRKcM76haBAhg0JQxsSVKzyXfONGzd5DXjcxSGZ2wuEdu0=
    on_success: never
    on_failure: always
